:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}
body {
  font-family: "Space Mono", monospace;

  background-color: var(--light-grayish-cyan);
  color: var(--dark-grayish-cyan);
  box-sizing: border-box;
}
h3 {
  text-align: center;
  letter-spacing: 0.3em;
  padding: 60px 0px 0px 0px;
  margin-bottom: 0;
}
.header {
  text-align: center;
  letter-spacing: 0.3em;
  font-size: 19px;
  margin-bottom: 60px;
}
p {
  margin-top: 32px;
}
main {
  max-width: 900px;
  min-height: 400px;
  background-color: var(--white);
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  align-items: center;
  padding: 20px;
}
.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
/*input*/
.input-column {
  padding: 20px;
}
input {
  font-size: 28px;
  background: var(--very-light-grayish-cyan);
  color: var(--very-dark-cyan);
  border: 2px solid var(--very-light-grayish-cyan);
  border-radius: 4px;
  text-align: right;
  font-family: "Space Mono", monospace;
  width: 100%;
}

input:hover {
  border: 2px solid var(--strong-cyan);
  cursor: pointer;
}

#bill-amount {
  background-image: url("images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position: left 5% bottom 50%;
}
#people-number {
  background-image: url("images/icon-person.svg");
  background-repeat: no-repeat;
  background-position: left 5% bottom 50%;
}

.btn {
  border: none;
  border-radius: 4px;
  font-size: 20px;
  line-height: 28px;
  font-family: "Space Mono", monospace;
}
.percentage-btns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 44px 44px;
  gap: 12px;
  padding: 0;
  margin-bottom: 32px;
}
.dark-btn {
  background-color: var(--very-dark-cyan);
  color: var(--white);
}
.dark-btn:hover {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
  border: 2px solid var(--very-light-grayish-cyan);
}
.custom-btn {
  background-color: var(--very-light-grayish-cyan);
  color: var(--dark-grayish-cyan);
  border: 2px solid var(--very-light-grayish-cyan);
  width: 94%;
  text-align: center;
}
.person-text {
  color: var(--grayish-cyan);
  font-size: 12px;
}
#message {
  color: orange;
  text-align: right;
}
/*output column style*/
.output-column {
  background-color: var(--very-dark-cyan);
  color: var(--white);
  padding: 50px 30px;
  border-radius: 10px;
}
.results {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 0;
  margin-bottom: 70px;
}

.tip-output {
  color: var(--strong-cyan);
  font-size: 36px;
  text-align: right;
}
#reset-btn {
  width: 100%;
  background: var(--strong-cyan);
  padding: 10px;
  border: 1px solid var(--strong-cyan);
  border-radius: 4px;
  font-family: "Space Mono", monospace;
  font-size: large;
  letter-spacing: 0.3em;
  color: var(--very-dark-cyan);
  opacity: 0.3;
  margin-top: 80px;
}
#reset-btn:hover {
  opacity: 1;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (max-width: 665px) {
  h3 {
    padding: 30px 0px 0px 0px;
  }
  .header {
    margin-bottom: 40px;
  }
  #reset-btn {
    margin-top: 0px;
  }
  .results {
    margin-bottom: 40px;
  }
}
